<!-- <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
</mat-form-field> -->

<div class="row">
    <div class="col-3 mt-5 mb-3 float-right">
        <div class="input-group">
            <input autocomplete="off" (keyup)="applyFilter($event.target.value)" type="text"
                placeholder="Filter" class="form-control">
            <span class="icon-inside"><i class="fa fa-search"></i></span>
        </div>
    </div>
</div>

<mat-table #table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>First Name</mat-header-cell>
        <mat-cell *matCellDef="let element" > {{element.firstname}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
        <mat-cell *matCellDef="let element" > {{element.lastname}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="employeeId">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Employee Id </mat-header-cell>
        <mat-cell *matCellDef="let element" > {{element.employeeId}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="p-3 action-col"></mat-header-cell>
        <mat-cell *matCellDef="let element" class="p-3 text-truncate d-inline action-col">
            <button class="btn btn-outline-primary font-weight-bold" (click)="editUser(element)">
                <i class="fa fa-eye mr-2"></i>Edit
            </button>
            <button class="btn btn-outline-primary font-weight-bold" (click)="deleteUser(element)">
                <i class="fa fa-eye mr-2"></i>Delete
            </button>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" [showFirstLastButtons]="true" [pageIndex]="0"
    [length]="pageLength">
</mat-paginator>