<div class="row">
        <div class="col-3 mt-5 mb-3 float-right">
            <div class="input-group">
                <input autocomplete="off" (keyup)="applyFilter($event.target.value)" type="text"
                    placeholder="Filter" class="form-control">
                <span class="icon-inside"><i class="fa fa-search"></i></span>
            </div>
        </div>
    </div>
    
    <mat-table #table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="project">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Project</mat-header-cell>
            <mat-cell *matCellDef="let element" > {{element.project}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="startdate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </mat-header-cell>
            <mat-cell *matCellDef="let element" > {{element.startdate}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="enddate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> End Date </mat-header-cell>
            <mat-cell *matCellDef="let element" > {{element.enddate}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="noOfTask">
                <mat-header-cell *matHeaderCellDef mat-sort-header> No Of Task </mat-header-cell>
                <mat-cell *matCellDef="let element" > {{element.noOfTask}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="completed">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Completed </mat-header-cell>
            <mat-cell *matCellDef="let element" > {{element.completed}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef class="p-3 action-col"></mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button class="btn btn-primary mt-2" (click)="editProject(element)">
                    Edit
                </button>&nbsp;&nbsp;
                <button class="btn btn-primary mt-2" (click)="deleteProject(element)">
                    Delete
                </button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" [showFirstLastButtons]="true" [pageIndex]="0"
        [length]="pageLength">
    </mat-paginator>