<div class="container">
    <form [formGroup]="addProjectForm" (ngSubmit)="submit()" autocomplete="off">
        <div class="row mt-2">
            <div class="col-3 text-right">
                <label for="project" class="required col-12">Project:</label>
            </div>
            <div class="col-9 ">
                <input class="form-control" id="project" formControlName="project"
                    [ngClass]="{'is-invalid': isFieldValid(project)}" />
                <app-field-error-display [displayError]="isErrorExists(project, 'required')"
                    errorMsg="Project is required">
                </app-field-error-display>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-6 text-right">
                <input type="checkbox"  id="parent"  class="custom-control-input" data-md-icheck (change)="changeTask($event)">
                <label class="custom-control-label" for="parent">Set Start and End Date</label>
            </div>
            <div class="col-2" *ngIf="marked">
                <label for="startdate" class="required col-12">Start Date:</label>
            </div>
            <div class="col-1 " *ngIf="marked">
                <input class="form-control" id="startdate" formControlName="startdate"
                    [ngClass]="{'is-invalid': isFieldValid(startdate)}" />
                <app-field-error-display [displayError]="isErrorExists(startdate, 'required')"
                    errorMsg="Start Date is required">
                </app-field-error-display>
            </div>
            <div class="col-2" *ngIf="marked">
                <label for="enddate" class="required col-12">End Date:</label>
            </div>
            <div class="col-1 " *ngIf="marked">
                <input class="form-control" id="enddate" formControlName="enddate"
                    [ngClass]="{'is-invalid': isFieldValid(enddate)}" />
                <app-field-error-display [displayError]="isErrorExists(enddate, 'required')"
                    errorMsg="End Date is required">
                </app-field-error-display>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3 text-right">
                <label for="priority" class="required col-12">Priority:</label>
            </div>
            <div class="col-9 ">
                <mat-slider id="priority" formControlName="priority" [ngClass]="{'is-invalid': isFieldValid(priority)}"
                    thumbLabel [displayWith]="formatLabel" tickInterval="3" min="1" max="30" value="">
                </mat-slider>
                <app-field-error-display [displayError]="isErrorExists(priority, 'required')"
                    errorMsg="Priority is required">
                </app-field-error-display>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3 text-right">
                <label for="managerId" class="required col-12">Manager:</label>
            </div>
            <div class="col-9 ">
                <select class="custom-select" id="managerId" formControlName="managerId"
                    [ngClass]="{'is-invalid': isFieldValid(managerId)}">
                    <option *ngFor="let manager of managers" [value]="manager.id">
                        {{manager.value}}</option>
                </select>
                <app-field-error-display [displayError]="isErrorExists(managerId, 'required')"
                    errorMsg="Manager is required">
                </app-field-error-display>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-5 text-right">
                <button type="submit" class="btn btn-primary mt-2">Add</button>
            </div>
            <div class="col-7">
                <button (click)="resetProject()" class="btn btn-primary mt-2">Reset</button>
            </div>
        </div>
    </form>
</div>


<div class="row mt-5">
        <div class="col-10 float-right">
            <app-project-grid></app-project-grid>
        </div>
    </div>