<div class="container">
    <form [formGroup]="addUserForm" (ngSubmit)="submit()" autocomplete="off">
        <div class="col-12 col-md-6">
            <label for="firstName" class="required col-12">Last Name</label>
            <div class="col-12">
                <input class="form-control" id="firstName" formControlName="firstName"
                    [ngClass]="{'is-invalid': isFieldValid(firstName)}" />
                <app-field-error-display [displayError]="isErrorExists(firstName, 'required')"
                    errorMsg="First Name is required">
                </app-field-error-display>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <label for="lastName" class="required col-12">Last Name</label>
            <div class="col-12">
                <input class="form-control" id="lastName" formControlName="lastName"
                    [ngClass]="{'is-invalid': isFieldValid(lastName)}" />
                <app-field-error-display [displayError]="isErrorExists(lastName, 'required')"
                    errorMsg="Last Name is required">
                </app-field-error-display>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <label for="empId" class="required col-12">Employee Id</label>
            <div class="col-12">
                <input class="form-control" id="empId" formControlName="empId" type="number"
                    [ngClass]="{'is-invalid': isFieldValid(empId)}" />
                <app-field-error-display [displayError]="isErrorExists(empId, 'required')"
                    errorMsg="Employee Id is required">
                </app-field-error-display>
            </div>
        </div>
        <div class="row">
            <div class="col-4 text-right">
                <button type="submit" class="btn btn-primary mt-2">Add User</button>
            </div>
            <div class="col-8">
                <button type="submit" class="btn btn-primary mt-2">Reset</button>
            </div>
        </div>
    </form>
</div>

<app-user-grid></app-user-grid>