<div class="container">
    <form [formGroup]="addUserForm" (ngSubmit)="submit()" autocomplete="off">
        <div class="row mt-2">
            <div class="col-3 text-right">
                <label for="firstname" class="required col-12">First Name:</label>
            </div>
            <div class="col-9">
                <input class="form-control" id="firstname" formControlName="firstname"
                    [ngClass]="{'is-invalid': isFieldValid(firstname)}" />
                <app-field-error-display [displayError]="isErrorExists(firstname, 'required')"
                    errorMsg="First Name is required">
                </app-field-error-display>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3 text-right">
                <label for="lastname" class="required col-12">Last Name:</label>
            </div>
            <div class="col-9">
                <input class="form-control" id="lastname" formControlName="lastname"
                    [ngClass]="{'is-invalid': isFieldValid(lastname)}" />
                <app-field-error-display [displayError]="isErrorExists(lastname, 'required')"
                    errorMsg="Last Name is required">
                </app-field-error-display>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3 text-right">
                <label for="employeeId" class="required col-12">Employee Id:</label>
            </div>
            <div class="col-9">
                <input class="form-control" id="employeeId" formControlName="employeeId" type="number"
                    [ngClass]="{'is-invalid': isFieldValid(employeeId)}" />
                <app-field-error-display [displayError]="isErrorExists(employeeId, 'required')"
                    errorMsg="Employee Id is required">
                </app-field-error-display>
            </div>
        </div>
        <div class="row">
            <div class="col-5 text-right">
                <button type="submit" class="btn btn-primary mt-2">Add User</button>
            </div>
            <div class="col-7">
                <button (click)="resetUser()" class="btn btn-primary mt-2">Reset</button>
            </div>
        </div>
    </form>
</div>

<app-user-grid></app-user-grid>